<%= render "shared/navbar" %>
<br>

<div class="container mt-5">
  <h2>Hello <%=current_user.first_name %>!</h2>
  <p><%=current_user.first_name %> <%=current_user.last_name %> - Member since <%=current_user.created_at.strftime('%B %Y') %></p>
  <div class="profile">
    <div class="my-info">
      <h4>Ongoing gears</h4>
      <div class="notification">
        <% @bookings.where(status: "pending").each do |b|%>
        <%= cl_image_tag b.offer.photo.key, class: "avatar-large"%>
        <div class="notification-content">
          <p><%= b.offer.product_name.capitalize %></p>
          <p><small>Status: <%= b.status %></small></p>
        </div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="profile">
    <div class="my-info">
      <h4>Booking history</h4>
        <% @bookings.each do |b|%>
      <div class="notification">
        <%= cl_image_tag b.offer.photo.key, class: "avatar-large"%>
        <div class="notification-content">
          <p><%= b.offer.product_name.capitalize %></p>
          <p><small><%= b.start_date.strftime('%d %B %Y') %></small></p>
          <p><small>Status: <%= b.status %></small></p>
        </div>
      </div>
          <% end %>
    </div>
  </div>
</div>
