<%= render "shared/navbar" %>
<br><br><br>
<div class="all-info">
<h2>Bonjour <%= current_user.first_name %> !</h2>
<p><%= current_user.first_name %> <%= current_user.last_name %> - Member since <%= current_user.created_at.strftime('%B %Y') %></p>
  <div class="container profile">
    <div class="my-info">
      <h4>My ongoing gears</h4>
      <ul>
        <% @bookings.where(status: "Pending").each do |b|%>
        <li> Offer <%= b.offer_id %> Status: <%= b.status %></li>
        <% end %>
      </ul>
    </div>
    <div class="my-info">
      <h4>My bookings history</h4>
      <ul>
        <% @bookings.each do |b|%>
        <li>On <%= b.start_date.strftime('%d %B %Y') %> <%= b.offer.product_name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
