<div class="card-product">
  <%= cl_image_tag offer.photo.key %>
  <div class="card-product-infos">
    <div class="card-product-text">
      <h2><%= offer.product_name.capitalize %></h2>
      <p><%= offer.category.capitalize %></p>
      <p><%= offer.location %></p>
    </div>
    <div class="card-product-price">
      <%= offer.price %>€
      <%= link_to "Show this offer", offer %>
    </div>
  </div>
</div>
