
<%= render "shared/navbar" %>

<h1 class='show-offer-title row justify-content-center'><%= @offer.product_name.capitalize %></h1>
<h3 class='row justify-content-center'> <%= @offer.category.upcase %> </h3>
<div class="col-md-12">

  <div class="container show-offer">
    <div class="container offer-details">
      <div class="card card-offer-info">
        <%= cl_image_tag @offer.photo.key, class: 'img-offer' %>
          <% if policy(@offer).update? %>
            <%= link_to 'Edit', edit_offer_path(@offer) %>
          <% end %>
        <div class="description row justify-content-center mt-3">
          <p class='col-md-8'><i><i class="fa-solid fa-quote-left fa-lg"></i> <%= @offer.description %></i></p>
          <h2 class='col-md-8'>- <%= @offer.user.first_name %>, happy owner of this awesome <%= @offer.product_name %> </h2>
        </div>
        <div class="details mt-3">
          <ul class="my-3">
          <li><p><i class="fa-solid fa-euro-sign fa-lg"></i> <%= @offer.price %> for an <strong>hour</strong></p></li>
          <li><p><i class="fa-solid fa-euro-sign fa-lg"></i> <%= @offer.price * 10 %> for the <strong>day</strong>, be fierce!</p></li>
          <li><p><i class="fa-solid fa-location-dot fa-lg"></i> <%= @offer.location %></p></li>
          <li><p><i class="fa-solid fa-user fa-lg"></i> <strong><%= @offer.user.first_name %></strong> will share their passion of <%= @offer.category.capitalize %> with you</p></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container img-and-form">
      <div class="form-container">
          <%= simple_form_for [@offer, @booking], data: { controller: 'flatpickr' } do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <% if user_signed_in? %>
              <%= f.submit 'Book Gear', class: 'btn' %>
            <% else %>
              <%= f.submit 'Book Gear', class: 'disabled btn' %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
